<div class="flex justify-center pt-15">
  <div class="rounded-full border w-200 h-100 bg-white flex items-center justify-center flex-col">
    <p class="text-[40px] text-neutral-400">comming soon...</p>
    <p class="mt-3 text-[15px] text-neutral-500">機能を準備中です。完了までお待ちください。</p>
    <p><%= image_tag 'making.jpeg', alt: 'サンプル画像', class: "w-24 h-24 mt-8" %></p>
  </div>
</div>