<div class="flex justify-center py-15">
  <div class="rounded-lg border-4 border-green-300 w-250 h-180 bg-white p-5">
    <div class="mt-3 text-neutral-500">
      <div class="text-[28px] ml-2">
        <p>克服ポイントとカードについて</p>
      </div>
      <div>
        <p class="text-[20px] mt-5">○克服ポイントについて</p>
        <p>　ターゲットの食材に対し、食べやすさの目安として各レシピに付与されているポイントです。</p>
        <p>1〜3の3段階あり、ユーザーはレシピのポイントの数が少ないほど食べやすい料理として判断し、お子様の苦手な食材への克服度に応じてレシピを選択することができます。
        レシピを投稿する際は、克服ポイントをつけることが必要です。</p>
        <p class="mt-2">例）苦手な食材が”ニンジン”だったとき</p>
        <li>細かくしてハンバーグにする → 素材が感じにくく、食べやすいレシピのため【克服ポイント1】</li>
        <li>大きめに切って煮物に入れる → 大きく、食べにくいレシピのため【克服ポイント3】</li>
      </div>
      <div>
        <p class="text-[20px] mt-5">○カードについて</p>
        <p>　会員登録が完了すると克服ポイントカードを使用することができます。カードを使用して目標設定と達成を繰り返すことで、好き嫌い克服に繋げることができます。</p>
        <p class="text-[18px] mt-2">＜使い方＞</p>
        <ol class="list-outside list-decimal ml-5">
          <li>克服ポイントアイコンをクリックしフォームを開きます。目標ポイント数と達成時のごほうびを各ユーザーで設定し、お子様とも共有・約束した上で保存をします。</li>
          <li>お子様がサービスに投稿されているレシピの料理を食べることができた際、克服ポイントアイコンをクリックしカード画面を開いて、レシピにつけられていたポイントの数（1〜3のいずれか）を加算してポイントを貯めていきます。</li>
          <li>設定していた目標が達成ができたら、「おめでとう！目標を達成しました。ごほうびをあげてください！（××に遊びに行く）」の表示が画面に出てくるので、お子様に約束していたごほうびを与えてくだい。</li>
          <li>出てきた表示を閉じる、もしくは克服ポイントアイコンをクリックすると目標設定のフォームが出てきます。新しい目標を設定し、1.~4.を繰り返してください。</li>
        </ol>
        <div class="mt-2 ml-2 text-[16px] text-rose-700">
          <p>＊1 克服ポイントアイコンは、目標の達成状況によりクリック先のページが異なります。</p>
          <p>＊2 目標達成時、克服ポイントは都度リセットされません。</p>
          <p>＊3 加算ポイントの数字を誤った際は、減算ボタンを使用してください。</p>
        </div>
      </div>
    </div>
  </div>
</div>
