<div class="heart_botton">
  <% if current_user %>
    <% if current_user.favorite?(recipe) %>
      <%= render 'unfavorite', { recipe: recipe } %>
    <% else %>
      <%= render 'favorite', { recipe: recipe } %>
    <% end %>
  <% else %>
    <%= link_to favorites_path(recipe_id: recipe.id), id: "favorite-button-for-recipe-#{recipe.id}", data: { turbo_method: :post }, onclick: "alert('いいねにはログインが必要です。'); return false;" do %>
      <div class="no_favorite flex">  
        <svg class="h-6 w-6 sm:h-8 sm:w-8 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
        </svg>
        <div class="mt-2 text-[12px] md:text-[15px]">
          <%= recipe.favorites.count %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>