<div class="flex justify-between">
  <div class="text-left ml-10 text-[20px] font-bold py-2">
    お気に入りレシピ一覧
  </div>
  <div class="flex justify-end pt-4 mr-10">
    <% if user_signed_in? %>
      <%= "こんにちは、#{current_user.name}さん" %>
    <% else %>
      <%= "ようこそ、ゲストさん" %>
    <% end %>
  </div>
</div>

<div class="flex">
  <div class="flex justify-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 w-230 ml-10">
    <% @favorite_recipes.each do |recipe| %>
      <%= render recipe %>
    <% end %>
  </div>
</div>