<p style="color: green"><%= notice %></p>

<% content_for :title, "Recipes" %>

<div class="text-left ml-10 text-[20px] font-bold py-2">
  レシピ一覧
</div>

<div class="flex justify-center grid grid-cols-4 gap-5">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
   
  <% end %>
  
</div>


<%= link_to "New recipe", new_recipe_path %>
