<div class="text-left text-[20px] font-bold py-2">
  <p>通知一覧</p>
</div>

<div class="mt-5">
  <% if @notifications.exists? %>
    <% @notifications.each do |notification| %>
      <%= render notification %>
    <% end %>
  <% else %>
    <p class="text-[18px]">通知はありません</p>
  <% end %>
</div>