<h2 class="ml-10 text-[25px]">ユーザー詳細</h2>
<div class="field mt-5 text-[20px] ml-60">
  アカウント名：
  <div class= "ml-10 rounded-lg border w-140 h-12 mt-4 p-2"  style="background-color: #F2EDED;">
    <div class="text-[18px] text-left ml-5">
      <%= @user.name %>
    </div>
  </div>
</div>
<div class="field mt-15 text-[20px] ml-60">
  メールアドレス：
  <div class= "ml-10 rounded-lg border w-140 h-12 mt-4 p-2"  style="background-color: #F2EDED;">
    <div class="text-[18px] text-left ml-5">
      <%= @user.email %>
    </div>
  </div>
</div>