<h2 class="text-left text-[16px] sm:text-[20px] font-bold py-2">アカウント詳細</h2>
<div class="field mt-5 text-[14px] sm:text-[20px] md:ml-50 md:w-200">
  <span>アカウント名：</span>
  <div class="md:flex">
    <div class= "rounded-lg border w-full md:w-140 mt-4 p-2"  style="background-color: #F2EDED;">
      <div class="text-[14px] sm:text-[18px] text-left md:ml-5">
        <%= @user.name %>
      </div>
    </div>
    <div class="flex justify-end ml-3 md:pt-7">
      <%= link_to "編集", edit_user_path %>
    </div>
  </div>
</div>
<div class="field md:mt-15 text-[14px] sm:text-[20px] md:ml-50">
  <span>メールアドレス：</span>
  <div class= "rounded-lg border md:w-140 mt-4 p-2"  style="background-color: #F2EDED;">
    <div class="text-[14px] sm:text-[18px] text-left md:ml-5">
      <%= @user.email %>
    </div>
  </div>
</div>
<div class="text-[12px] sm:text-[20px] md:ml-190 mt-10 md:block flex justify-center md:w-200">
  <%= link_to "レシピ一覧へ", recipes_path, class:"border-b" %>
</div>