<header>
  <nav class="bg-green-300">
    <div class="flex justify-between">
      <div class="text-[16px] font-normal text-left ml-2 md:ml-10 pt-4">
        さぁ、まずはひとくち
      </div>
      <dev class="mr-5 sm:mr-10 sm:mb-2 pt-3">
      <%= link_to 'ログイン', new_user_session_path, class: 'text-[12px] sm:text-[20px] login-button rounded-lg bg-gray-200 p-1' %>
      </div>
    </div>
    <hr class="border-t-2 border-white mt-2" style="border-color: white;" /> <!-- マージンを調整 -->
    <div id="header-icon-container"></div>
  </nav>
</header>

<script>
document.addEventListener('turbo:load', () => {
  const iconContainer = document.getElementById('header-icon-container');

  function updateIcon() {
    if (window.innerWidth <= 800) {
      iconContainer.innerHTML = '<%= j render 'shared/before_login_header_humberger' %>';
    } else {
      iconContainer.innerHTML = '<%= j render 'shared/before_login_header_icon' %>';
    }
  }

  updateIcon(); // 初回表示
  window.addEventListener('resize', updateIcon); // リサイズ時に再チェック
});

function toggleMenu(button) {
    const menu = document.getElementById('humbergerMenu');
    menu.classList.toggle('hidden');

    const menuIcon = button.querySelector('svg');
    if (menu.classList.contains('hidden')) {
      menuIcon.innerHTML = '<path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>';
    } else {
      menuIcon.innerHTML = '<path v-show="isOpen" d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/>';
    }
  }
</script>