<header>
  <nav class="bg-green-300 h-28">
    <div class="flex justify-between">
      <div class="text-[16px] font-normal text-left ml-10 pt-4">
        さぁ、まずはひとくち
      </div>
      <dev class="mr-10 pt-3">
      <%= link_to 'ログイン', new_user_session_path, class: 'login-button rounded-lg bg-gray-200 p-1' %>
      </div>
    </div>
    <hr class="border-t-2 border-white mt-2" style="border-color: white;" /> <!-- マージンを調整 -->
    <div class="flex justify-between">
      <div class="text-[45px] font-bold text-left ml-10">
        Kutemy
      </div>
      <div class="flex justify-end font-bold items-center space-x-8 h-[80px] mr-10"> 
        <%= link_to(recipes_search_path)  do %>
          <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 15l6 6m-11-4a7 7 0 1 1 0-14a7 7 0 0 1 0 14"/>
            </svg>
            <span class="text-[10px]">レシピを探す</span>
          </div>
        <% end %>
        <%= link_to do %>
          <div class="flex flex-col items-center" onclick="alert('ログインしてください。'); window.location='<%= new_user_session_path %>';">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20">
            <path fill="currentColor" fill-rule="evenodd" d="m5.433 13.916l1.262-3.154a4 4 0 0 1 .885-1.343L14.5 2.5a2.121 2.121 0 1 1 3 3l-6.92 6.919c-.383.383-.84.684-1.343.885l-3.154 1.262a.5.5 0 0 1-.65-.65ZM2.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H3.75A2.75 2.75 0 0 0 1 5.75v10.5A2.75 2.75 0 0 0 3.75 19h10.5A2.75 2.75 0 0 0 17 16.25V10a.75.75 0 0 0-1.5 0v6.25c0 .69-.56 1.25-1.25 1.25H3.75c-.69 0-1.25-.56-1.25-1.25V5.75Z" clip-rule="evenodd"/>
            </svg>
            <span class="text-[10px]">投稿する</span>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>